.col-sm-12{
  background-color: #26c797;
}
.col-sm-6{
  background-color: #ee7ca5;
}
.col-sm-5{
  background-color: #61ab1f;
}
.col-sm-3{
  background-color: #853ac7;
}
.col-sm-8{
  background-color: #a6c832;
}
.fourth{
  width: 200px;
}
.fourth div{
  margin: 30px auto;
}
.upgrid{
  height: 60%;
}
.downgrid{
  height: 30%
}
.colorstrike{
  background-color: #2672f5;
}
.row .col-sm-2{
  background-color: #a878c4;
  margin: 10px 30px;
}
